.user-meals_container {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid lightgrey;
  padding: 10px 0;

  &_title {
    margin-left: 20px;
  }

  &_table {
    width: 100%;

    &_row {
      width: 100%;
    }

    &_calories,
    &_proteins,
    &_fats,
    &_carbohydrates {
      width: 100px;
    }

    &_expand {
      text-align: right;
    }

    &_message {
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
    }
  }
}


