.db-page-filter {
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
}
.db-page-table {
  width: 100%;

  &_row {
    width: 100%;
  }

  &_name {
    min-width: 300px;
  }

  &_calories {
    width: 100px;
    text-align: center;
  }

  &_actions,
  &_proteins,
  &_fats,
  &_carbohydrates {
    width: 60px;
    text-align: center;
  }

  &_expand {
    text-align: right;
    width: 60px;
  }
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-description {
  padding: 16px;
}
